In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
from datetime import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [19]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

#first_row = session.query(Measurement).first()
#first_row.__dict__

#for row in session.query(Measurement.date, Measurement.prcp).limit(5):
#    print(row)
for row in session.query(Measurement.date, Measurement.prcp, Measurement.station).filter(Measurement.date == '2016-08-24'):
    print(row)

# Calculate the date 1 year ago from the last data point in the database
last_date = session.query(Measurement.date).order_by(sqlalchemy.desc(Measurement.date)).limit(1).all()[0][0]
last_date_obj = dt.strptime(last_date, '%Y-%m-%d')

str_year = str(last_date_obj.year - 1)
str_month = str(last_date_obj.month)
str_day = str(last_date_obj.day)

if last_date_obj.month < 10:
    str_month = '0' + str_month
if last_date_obj.day < 10:
    str_day = '0' + str_day
    
one_year_ago = str_year + '-' + str_month + '-' + str_day

# Perform a query to retrieve the data and precipitation scores
meas_query = session.query(Measurement.station, Measurement.date, Measurement.tobs, Measurement.prcp).filter(Measurement.date > one_year_ago).limit(10).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
meas_df = pd.DataFrame(meas_query)
meas_by_date = meas_df.set_index('date')
# Sort the dataframe by date
meas_by_date.sort_index()
meas_by_date.sort_index().loc['2016-08-24']
# Use Pandas Plotting with Matplotlib to plot the data
for row in session.query(Measurement.date, Measurement.prcp, Measurement.station).filter(Measurement.date == '2016-08-24'):
    print(row)

('2016-08-24', 0.08, 'USC00519397')
('2016-08-24', 2.15, 'USC00513117')
('2016-08-24', 2.28, 'USC00514830')
('2016-08-24', None, 'USC00517948')
('2016-08-24', 1.22, 'USC00519523')
('2016-08-24', 2.15, 'USC00519281')
('2016-08-24', 1.45, 'USC00516128')
('2016-08-24', 0.08, 'USC00519397')
('2016-08-24', 2.15, 'USC00513117')
('2016-08-24', 2.28, 'USC00514830')
('2016-08-24', None, 'USC00517948')
('2016-08-24', 1.22, 'USC00519523')
('2016-08-24', 2.15, 'USC00519281')
('2016-08-24', 1.45, 'USC00516128')

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`