In [2]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [3]:
import numpy as np
import pandas as pd

In [4]:
from datetime import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [5]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [6]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [7]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [8]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [9]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [10]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

## Precipitation Analysis

In [55]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database
last_date = session.query(Measurement.date).order_by(sqlalchemy.desc(Measurement.date)).limit(1).all()[0][0]
last_date_obj = dt.strptime(last_date, '%Y-%m-%d')

str_year = str(last_date_obj.year - 1)
str_month = str(last_date_obj.month)
str_day = str(last_date_obj.day)

if last_date_obj.month < 10:
    str_month = '0' + str_month
if last_date_obj.day < 10:
    str_day = '0' + str_day
    
one_year_ago = str_year + '-' + str_month + '-' + str_day

# Perform a query to retrieve the data and precipitation scores
#session.query(Measurement.date, Measurement.prcp).limit(100).all()
#meas_query = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date > one_year_ago).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
meas_df = pd.DataFrame(meas_query)
meas_by_date = meas_df.set_index('date')

# Sort the dataframe by date
meas_sort_by_date = meas_by_date.sort_index().groupby('date').max()
# Use Pandas Plotting with Matplotlib to plot the data
#meas_sort_by_date.plot.bar(xlabel = 'Date', ylabel = 'Inches', xticks=(), width=4)
session.query(Measurement.date, Measurement.prcp).limit(100).all()

[('2010-01-01', 0.08),
 ('2010-01-02', 0.0),
 ('2010-01-03', 0.0),
 ('2010-01-04', 0.0),
 ('2010-01-06', None),
 ('2010-01-07', 0.06),
 ('2010-01-08', 0.0),
 ('2010-01-09', 0.0),
 ('2010-01-10', 0.0),
 ('2010-01-11', 0.01),
 ('2010-01-12', 0.0),
 ('2010-01-14', 0.0),
 ('2010-01-15', 0.0),
 ('2010-01-16', 0.0),
 ('2010-01-17', 0.0),
 ('2010-01-18', 0.0),
 ('2010-01-19', 0.0),
 ('2010-01-20', 0.0),
 ('2010-01-21', 0.0),
 ('2010-01-22', 0.0),
 ('2010-01-23', 0.0),
 ('2010-01-24', 0.01),
 ('2010-01-25', 0.0),
 ('2010-01-26', 0.04),
 ('2010-01-27', 0.12),
 ('2010-01-28', 0.0),
 ('2010-01-30', None),
 ('2010-01-31', 0.03),
 ('2010-02-01', 0.01),
 ('2010-02-03', None),
 ('2010-02-04', 0.01),
 ('2010-02-05', 0.0),
 ('2010-02-06', 0.0),
 ('2010-02-07', 0.0),
 ('2010-02-08', 0.0),
 ('2010-02-09', 0.0),
 ('2010-02-11', 0.0),
 ('2010-02-12', 0.02),
 ('2010-02-13', 0.01),
 ('2010-02-14', 0.0),
 ('2010-02-15', 0.0),
 ('2010-02-16', 0.0),
 ('2010-02-17', 0.0),
 ('2010-02-19', None),
 ('2010-02-20', 0.03),
 ('2010-02-21', 0.0),
 ('2010-02-22', 0.0),
 ('2010-02-23', 0.0),
 ('2010-02-24', 0.0),
 ('2010-02-25', 0.0),
 ('2010-02-26', 0.0),
 ('2010-02-28', 0.0),
 ('2010-03-01', 0.01),
 ('2010-03-02', 0.0),
 ('2010-03-03', 0.0),
 ('2010-03-04', 0.12),
 ('2010-03-05', 0.08),
 ('2010-03-06', 0.03),
 ('2010-03-07', 0.0),
 ('2010-03-08', 0.43),
 ('2010-03-09', 0.06),
 ('2010-03-11', None),
 ('2010-03-12', 0.0),
 ('2010-03-13', 0.0),
 ('2010-03-14', 0.0),
 ('2010-03-15', 0.06),
 ('2010-03-17', 0.0),
 ('2010-03-18', 0.0),
 ('2010-03-21', 0.0),
 ('2010-03-22', 0.0),
 ('2010-03-23', 0.0),
 ('2010-03-24', 0.0),
 ('2010-03-26', None),
 ('2010-03-27', 0.0),
 ('2010-03-28', 0.0),
 ('2010-03-29', 0.0),
 ('2010-03-30', 0.0),
 ('2010-03-31', 0.0),
 ('2010-04-01', 0.0),
 ('2010-04-02', 0.01),
 ('2010-04-03', 0.17),
 ('2010-04-04', 0.15),
 ('2010-04-05', 0.27),
 ('2010-04-06', 0.01),
 ('2010-04-08', 0.0),
 ('2010-04-09', 0.01),
 ('2010-04-10', 0.0),
 ('2010-04-11', 0.01),
 ('2010-04-12', 0.01),
 ('2010-04-13', 0.0),
 ('2010-04-15', 0.0),
 ('2010-04-16', 0.01),
 ('2010-04-17', 0.0),
 ('2010-04-18', 0.0),
 ('2010-04-19', 0.0),
 ('2010-04-20', 0.04),
 ('2010-04-21', 0.01),
 ('2010-04-22', 0.0),
 ('2010-04-23', 0.02),
 ('2010-04-24', 0.0)]

In [12]:
meas_by_date.describe()

              prcp
count  2015.000000
mean      0.176462
std       0.460288
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

## Station Analysis

In [13]:
# Design a query to calculate the total number of stations.
len(session.query(Station.id).distinct().all())

9

In [14]:
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x29b0066d790>,
 'prcp': 0.08,
 'station': 'USC00519397',
 'id': 1,
 'tobs': 65.0,
 'date': '2010-01-01'}

In [15]:
first_row = session.query(Station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x29b006f31f0>,
 'longitude': -157.8168,
 'latitude': 21.2716,
 'id': 1,
 'elevation': 3.0,
 'station': 'USC00519397',
 'name': 'WAIKIKI 717.2, HI US'}

In [17]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
most_active_stations = session.query(Measurement.station, func.count(Measurement.station)).order_by(func.count(Measurement.station).desc()).group_by(Measurement.station).all()
most_active_stations

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [34]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?
most_active_station = most_active_stations[0][0]
print(f'Most active station: ', most_active_station)
lowest_temp = session.query(Measurement.station, Measurement.tobs).group_by(Measurement.station).having(func.min(Measurement.tobs)).filter(Measurement.station == most_active_station).all()[0][1]
print(f'Lowest temperature recorded by most active station(F): ', lowest_temp)
highest_temp = session.query(Measurement.station, Measurement.tobs).group_by(Measurement.station).having(func.max(Measurement.tobs)).filter(Measurement.station == most_active_station).all()[0][1]
print(f'Highest temperature recorded by most active station(F): ', highest_temp)
avg_temp = session.query(Measurement.station, Measurement.tobs).group_by(Measurement.station).having(func.avg(Measurement.tobs)).filter(Measurement.station == most_active_station).all()[0][1]
print(f'Average temperature recorded by most active station(F): ', avg_temp)

Most active station:  USC00519281
Lowest temperature recorded by most active station(F):  54.0
Highest temperature recorded by most active station(F):  85.0
Average temperature recorded by most active station(F):  70.0

In [56]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
session.query(Measurement.station, func.count(Measurement.tobs).filter(Measurement.tobs == 'None')).order_by(func.count(Measurement.tobs).desc()).group_by(Measurement.station).all()

[('USC00519281', 0),
 ('USC00519397', 0),
 ('USC00513117', 0),
 ('USC00519523', 0),
 ('USC00516128', 0),
 ('USC00514830', 0),
 ('USC00511918', 0),
 ('USC00517948', 0),
 ('USC00518838', 0)]

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`